

<div class="modal fade" id="modal_registro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="modalLabelTitle" style="color:##05192f">Modal title</h3>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close" id="btnCancelarRegistro">
                    <span class="svg-icon svg-icon-1">X</span>
                </div>
            </div>
            <div class="modal-body" style="padding:20px 3% 5px">
                <!-- Contenido del modal -->
            </div>
        </div>
    </div>
</div>