<form id="formEditar">
    <input type="hidden" value="" name="id" id="idPersona" />
    <div class="row">
        <!-- Columna 1 -->
        <div class="col-md-6">
            <div class="form-group">
                <label for="nombres">Nombres</label>
                <input type="text" class="form-control" id="nombres" name="nombres" maxlength="100" required>
            </div>
            <div class="form-group">
                <label for="apellidoPaterno">Apellido Paterno</label>
                <input type="text" class="form-control" id="apellidoPaterno" name="apellidoPaterno" maxlength="100" required>
            </div>
            <div class="form-group">
                <label for="apellidoMaterno">Apellido Materno</label>
                <input type="text" class="form-control" id="apellidoMaterno" name="apellidoMaterno" maxlength="100" required>
            </div>
        </div>
        <!-- Columna 2 -->
        <div class="col-md-6">
            <div class="form-group">
                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" required>
            </div>
            <div class="form-group">
                <label for="nivelEducativo">Nivel Educativo</label>
                <input type="text" class="form-control" id="nivelEducativo" name="nivelEducativo" maxlength="50" required>
            </div>
            <div class="form-group">
                <label for="numeroCelular">Número de Celular</label>
                <input type="text" class="form-control" id="numeroCelular" name="numeroCelular" maxlength="15" required>
            </div>

        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-sm mt-3">Guardar</button>
</form>
